body {
  margin: 0;
}

.header {
  background-color: #da70d6;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header h1 {
  color: white;
  font-size: small;
}

.header-left {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.header-right {
  margin-right: 20px;
}
.header-search {
  align-items: center;
  display: flex;
  height: 28px;
  flex-direction: row;
  border-radius: 8px;
  background-color: blue;
  border-color: white;
  padding: 0 100px;
  position: relative;
}

.combine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-field {
  text-align: center;
}

.searchicon {
  position: absolute;
  right: 0;
}

.App {
  text-align: center;
}

.header-avatar,
.clock-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.header-avatar,
.clock-icon:hover {
  opacity: 0.5;
}

.header-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
