body {
  margin: 0;
}

.header {
  background-color: #421f44;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header h1 {
  color: white;
  font-size: small;
}

.header-left {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.header-search {
  align-items: center;
  display: flex;
  height: 28px;
  flex-direction: row;
  border-radius: 8px;
  background-color: #421f44;
  border-color: white;
  --tw-border-opacity: 1;
  padding: 0 100px;
  position: relative;
}

.combine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-search input {
  text-align: center;
  background-color: transparent;
  border: none;
  outline: 0;
  color: white;
}

.searchicon {
  position: absolute;
  color: white;
  right: 0;
}

.App {
  text-align: center;
}

.header-avatar,
.clock-icon,
.header-right {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.header-avatar:hover,
.clock-icon:hover {
  opacity: 0.5;
}

.header-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage h1 {
  color: black;
  cursor: pointer;
}
.app-home {
  display: flex;
  flex-direction: column;
}

.sidebar {
  height: 90vh;
  margin-top: 7vh;
  max-width: 250px;
  background-color: #421f44;
  color: white;
}

.app-routes {
  margin-top: 7vh;
}

.sidebar-header-div {
  height: 10px;
}

.sidebar-header {
  margin-top: 30px;
}
.sidebar-header-split {
  justify-content: space-between;
}
